$color-sky-1 : #FFFFFF;
$color-sky-2 : #6DD5FA;
$color-sky-3 : #2980B9;
body{
	background: $color-sky-3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, $color-sky-3, $color-sky-2, $color-sky-1);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, $color-sky-3, $color-sky-2, $color-sky-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
main{
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	border: 2px solid black;
	.frame{
		color: red;
		height: 100vh;
		width: 300vw;
		margin-left: -100vw;
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 100% 0%;
		
		&[data-background="1"]{
			background-image: url("../img/mountain-1.png");
			transition: background-size 1s;

		}
		&[data-background="2"]{
			background-image: url("../img/mountain-2.png");
			transition: background-size 1.25s;
		}
		&[data-background="3"]{
			background-image: url("../img/mountain-3.png");
			transition: background-size 1.5s;
		}
		&[data-background="4"]{
			background-image: url("../img/mountain-4.png");
			transition: background-size 1.75s;
		}
		&[data-background="5"]{
			background-image: url("../img/mountain-5.png");
			transition: background-size 2s;
		}
		&[data-background="6"]{
			background-image: url("../img/mountain-6.png");
			transition: background-size 2.25s;
		}
		&.start{
			background-size: 100% 100%;  
		}


	}
}

$ballSize : 300px;
#ball{
	width: $ballSize;
	height: $ballSize;
	position: absolute;
	left: calc(150vw - #{$ballSize/2});
	bottom: -15vh;
	border-radius: 100%;
	overflow: hidden;
	transition: bottom 1.25s;
	&.start{

		bottom: 15vh;
	}
}
